@font-face {
    font-family: 'Museo Cyrl';
    src: local('Museo Cyrl 500'), local('MuseoCyrl-500'), url('../fonts/museoCyrl/Museocyrl500.woff2') format('woff2'), url('../fonts/museoCyrl/Museocyrl500.woff') format('woff'), url('../fonts/museoCyrl/Museocyrl500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}
* a{
    font-size: 15px;
    text-decoration: none;
    color: #333333;
    cursor: pointer;
}
* a:hover{
    text-decoration: none;
    transition: .3s;
    color: #4F6692;
}
* a, h1, h2, h3, h4, h5, h6, p, span{
    font-family: 'Museo Cyrl';
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}
.overflow-hidden{
    overflow: hidden;
}

/*--------------------header---------------*/
.header{
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 25px 40px 170px;
    z-index: 20;
    padding-left: 0;
}
.wrapper-content-header{

}
.navigation-top{
    display: flex;
    align-items: center;
    padding-left: 25px;
}
.navigation-top li{
    margin-right: 52px;
}
.navigation-top li a{
    font-weight: 300;
}
.navigation-top li:last-child{
    margin-right: 0;
}
.social-block{
    display: flex;
    align-items: center;
}
.social-block li{
    margin-right: 25px;
}
.social-block li:last-child{
    margin-right: 0;
}
.social-block li a{
    color: #555555;
    font-size: 21px;
}
.social-block li a:hover{
    color: #4e6692;
    transition: .3s;
}
.wrapper-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*position: absolute;*/
    /*top: 30px;*/
    /*left: 64px;*/
    /*right: 55px;*/
    padding-bottom: 30px;

    position: relative;
    z-index: 100;
}
.wrapper-nav-center{
    padding: 20px 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    /*position: absolute;*/
    /*top: 10%;*/
    /*left: 40px;*/
    /*right: 53px;*/
    padding-left: 25px;
    padding-right: 0;
}
.wrapper-logo-search{
    display: flex;
    max-width: 792px;
    width: 100%;
    justify-content: space-between;
}

/*------------logo-----------*/
.logo{
    display: flex;
}
.logo a{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo a:hover{
    color: #333333;
}
.top-logo{
    font-size: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.top-logo span{
    color: #4e6692;
}
.logo a h2{
    font-size: 12px;
    font-weight: 700;
    margin-top: 5px;
}

/*-------------search-----------*/

.btn-search{
    border: none;
    font-size: 20px;
    color: #2e2e2e;
    padding-right: 0;
}
.btn-search:hover{
    background: transparent;
    color: #4e6692;
    transition: .3s;
}
.input-search{
    border: none;
    background: transparent;
    color: #2e2e2e;
    width: 93% !important;
    outline: none;
    font-size: 15px;
}
.input-search:focus,
.input-search:hover{
    background: transparent;
    outline: none;
    box-shadow: none;
}
.search-form{
    border-bottom: 1px solid #2e2e2e;
    max-width: 358px;
    width: 100%;
    flex-wrap: nowrap;
    margin: 0 30px;
}

/*----------order-bar--------*/

.wrapper-order-bar{
    max-width: 690px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.call-me{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    max-width: 198px;
}
.call-me span{
    font-size: 15px;
    font-weight: 500;
}
.call-me h3{
    font-size: 18px;
    font-weight: 500;
    align-self: flex-start;
}
.call-number{
    font-size: 25px;
    color: #333333;
}
.call-number:hover{
    color: #4e6692;
    transition: .3s;
}
.basket{
    background-image: url("../../images/shopping.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    position: relative;
    background-size: contain;
}
.label-shop{
    width: 20px;
    height: 20px;
    background: #ef7860;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: absolute;
    right: -12px;
    top: -7px;
}
.wrapper-shoping{
    display: flex;
    position: relative;
    margin-right: 15px;
}
.label-shop span{
    font-size: 15px;
    color: white;
    cursor: pointer;
}

/*-------------content-header-------------*/
.content-header{
    display: flex;
    width: 100%;
    margin-top: 20px;
}
/*-------------left-nav-bar----------------*/

.left-nav-bar{
    background-image: url("../../images/border-nav.png");
    background-repeat: no-repeat;
    z-index: 100;
    background-position: right;
    background-size: contain;
    position: relative;
}
.left-nav-bar.fixed-left-nav{
    position: fixed;
    top: 83px;
    bottom: 0;
    z-index: 10;
}
.left-nav-bar.fixed-left-nav .nav-bar-left li{
    padding-left: 25px;
}
.left-nav-bar.fixed-left-nav .sale{
    display: none;
}
.wrap-hide-menu{
    transition: .4s;
    /*height: 100vh;*/
}
.color-block{
    background-color: #ffffff;
    height: 100vh;
    -webkit-box-shadow: -1px 5px 28px 0px rgba(0,0,0,0.59);
    -moz-box-shadow: -1px 5px 28px 0px rgba(0,0,0,0.59);
    box-shadow: -1px 5px 28px 0px rgba(0,0,0,0.59);
    z-index: 200;
}
.circular-block{
    position: absolute;
    top: -18px;
    bottom: -18px;
    left: 0;
    right: 0;
    background: white;
    width: 65%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}
.left-nav-bar.hide .wrap-hide-menu{
    margin-left: -271px;
}
.left-nav-bar.hide .menu-overflow{
    overflow: hidden;
}
.nav-bar-left{
    position: sticky;
    top: 100px;
    width: 300px;
}
.left-nav-bar.fixed-left-nav .nav-bar-left{
    background: #fff;
    height: 100vh;
    -webkit-box-shadow: -1px 5px 28px 0px rgba(0,0,0,0.59);
    -moz-box-shadow: -1px 5px 28px 0px rgba(0,0,0,0.59);
    box-shadow: -1px 5px 28px 0px rgba(0,0,0,0.59);
    z-index: 200;
}
.left-nav-bar.hide .nav-bar-left{
    z-index: 10;
}
.left-nav-bar.hide .menu-overflow:after{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    background: #ccc;
    z-index: 10;
}
.left-nav-bar.hide .chevron-left{
    /*right: 10px;*/
}
.nav-bar-left li{
    padding: 25px 0;
    font-size: 21px;
    text-decoration: none;
    color: #333333;
    cursor: pointer;
    font-family: 'Museo Cyrl';
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 25px;
}
.nav-bar-left li:hover{
   border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;

}
.icon-none{
    background-image: none;
}
.icon-none i{
    color: black;
    font-size: 20px;
}
.sub-chevron{
    display: none;
}
.nav-bar-left li:hover .sub-chevron{
    display: flex;
}
.sale{
    padding: 25px 0;
}
.sale a{
    padding-left: 25px;
}
.sale a:hover h2{
    color: #df2323;
    transition: .3s;
}
.sale-none-js{
    display: none;
}
.none-padding{
    padding: 0;
}
.none-padding a{
    padding: 0;
}
.sale a{
    display: flex;
    align-items: center;
}
.sale h2{
    color: #ef7860;
    font-size: 25px;
    font-weight: 900;
    margin-right: 15px;
}
.sale a h2{
    position: relative;
}
.sale a h2:before{
    content: '';
    position: absolute;
    background-image: url("../../images/percent.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
    top: -5px;
    right: -50px;
    background-size: contain;
}
.sale  a h2:hover:before{
    content: '';
    position: absolute;
    background-image: url("../../images/percent-hover.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
    top: -5px;
    right: -50px;
    background-size: contain;
}

.chevron-left,
.chevron-left-btn,
.chevron-right{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: white;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.25);
    position: absolute;
    right: -32px;
    top: 50%;
    z-index: 1000000;
}
.chevron-left-btn:focus,
.chevron-right:focus{
    outline: none;
}
.chevron-left-btn.align-right{
    text-align: right;
}
.chevron-left-btn i{
    font-size: 47px;
    margin-right: 11px;
    color: #848484;
    margin-bottom: 5px;
}
.chevron-right i{
    font-size: 47px;
    color: #848484;
    margin-bottom: 5px;
}
.chevron-left-btn.hide{
    display: none;
}

/*-----------------menu-content-header---------------*/

.menu-content-header,
.content-header-center{
    width: 100%;
}
.menu-content-header ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /*position: absolute;*/
    /*left: 26%;*/
    /*right: 53px;*/
    /*top: 25%;*/
}
.menu-content-header li{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}
.img-menu .close-btn{
    width: 20px;
    height: 20px;
}
.menu-content-header ul li:last-child{
    padding-right: 0;
}
.menu-content-header h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
}
.menu-content-header a{
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
}
.menu-content-header a:hover h3{
    color: #4F6692;
}
.menu-content-header a:before{
    content: '';
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}
.menu-content-header a:hover:before{
    content: '';
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}
.living-room:before{
    background: url("../../images/gost.png") center;
    height: 37px;
}
.living-room:hover:before{
    background: url("../../images/gost-hover.png") center;
    height: 37px;
}
.bedroom:before{
    background: url("../../images/bad.png") center;
    height: 59px;
}
.bedroom:hover:before{
    background: url("../../images/bad-hover.png") center;
    height: 59px;
}
.nursery:before{
    background: url("../../images/no-translate-detected.png") center;
    height: 36px;
}
.nursery:hover:before{
    background: url("../../images/no-translate-detected-hover.png") center;
    height: 36px;
}
.kitchen:before{
    background: url("../../images/cook.png") center;
    height: 37px;
}
.kitchen:hover:before{
    background: url("../../images/cook-hover.png") center;
    height: 37px;
}
.bathroom:before{
    background: url("../../images/vanna.png") center;
    height: 36px;
}
.bathroom:hover:before{
    background: url("../../images/vanna-hover.png") center;
    height: 36px;
}
.hallway:before{
    background: url("../../images/commod.png") center;
    height: 36px;
}
.hallway:hover:before{
    background: url("../../images/commod-hover.png") center;
    height: 36px;
}
.office:before{
    background: url("../../images/office.png") center;
    height: 34px;
}
.office:hover:before{
    background: url("../../images/office-hover.png") center;
    height: 34px;
}
.balcony:before{
    background: url("../../images/balcony.png") center;
    height: 35px;
}
.balcony:hover:before{
    background: url("../../images/balcony-hover.png") center;
    height: 35px;
}
.menu-content-header .mark{
    top: auto;
    bottom: 61px;
    right: -33px;;
    background-color: transparent;
}

/*------------------carousel--------------*/

.w-100{
    max-width: 50%;
}
.width-carousel{
    width: 100%;
}
.content-slider{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-image: url("../../images/background-header.png");*/
    display: flex;
    justify-content: flex-start;
    /*position: relative;*/
    /*padding: 25px 40px;*/

    /*margin-top: -140px;*/
}
.banner-slide{
    position: absolute;
    bottom: 55px;
    left: 340px;
    right: 40px;
    display: flex;
    align-items: center;
    text-align: right;
}
.carousel-change{
    bottom: 15px;
}
.carousel-change li{
    width: 20px ;
    height: 20px ;
    border-radius: 100%;
    background: transparent;
    border: 3px solid white;;
}
.title-item{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    text-align: center;
    z-index: 100;
}
.title-item h3{
    font-weight: 100;
    font-size: 25px;
    text-align: center;
    max-width: 351px;
}
.title-item span{
    font-size: 40px;
    margin-top: 20px;
}
.custom-control-btn{
    width: 20px;
    height: 20px;
    background: #6eb2fb;
    background-image: url("../../images/galochka.png");
    background-repeat: no-repeat;
    border: none;
    outline: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 12px;
    cursor: pointer;
}
.custom-control-btn:hover{
    background: #418ad9;
    transition: .3s;
}
.custom-checkbox{
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
}
.custom-control-text{
    margin-left: 10px;
    line-height: 20px;
}
.banner-content{
    display: inline-block;
    position: relative;
    z-index: 1000;
    text-align: center;
    vertical-align: middle;
    max-width: 280px;
    width: 100%;
    height: auto;
    background-color: rgba(243, 189, 78, 0.5);
    padding: 30px 40px;
    max-height: 430px;
    -webkit-box-shadow: 0px 2px 13px -1px rgba(153,134,117,1);
    -moz-box-shadow: 0px 2px 13px -1px rgba(153,134,117,1);
    box-shadow: 0px 2px 13px -1px rgba(153,134,117,1);
}
.banner-content h2{
    font-size: 34px;
    color: #ffffff;
    text-align: center;
    line-height: 56px;
    margin-bottom: 40px;
}
.banner-btn{
    background-color: #f07864;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
    max-width: 134px;
    width: 100%;
    padding: 11px 0;
    border-radius: 25px;
}
.banner-btn:hover,
.banner-btn:focus{
    outline: none;
    background-color: #f1462a;
    transition: .3s;
}

/*----------------------content--------------*/

.content-wrapper-section{
    max-width: 1620px;
    margin:  0 auto;
    width: 100%;
    background-color: #ffffff;
}
.content-section{
    display: flex;
    padding: 0 40px 0 30px;
    background-color: #fbfbfb;
    position: relative;
}
.new-padding{
    padding: 44px;
    max-width: 1620px;
    margin: 0 auto;
}
.section-nav{
    position: sticky;
    top: -2px;
    z-index: 100;
    background-color: #f4f4f4;
    width: 100%;
}
.new-sale{
    padding: 0;
    display: flex;
    align-items: flex-end;
}
.wrap-content-sliders{
    padding: 44px 0 44px 95px;
    width: 100%;
}
.tabs_menu {
    display: flex;
    align-items: center;
}
.tabs_menu  li{
    margin-right: 44px;
    cursor: pointer;
    position: relative;
    padding-left: 5px;
}
.tabs_menu  li:last-child{
    margin-right: 0;
}
.tabs_menu  li h2{
    font-size: 33px;
    font-weight: 700;
    margin-left: 10px;
    color: #b7b7b7;

}
.tabs_menu li:before {
    content: '';
    height: 28px;
    position: absolute;
    width: 4px;
    background-color: #b7b7b7;
    top: 5%;
    bottom: 0;
    left: 0;
}
.tabs_menu  li:hover:before{
    content: '';
    height: 43px;
    position: absolute;
    width: 4px;
    background-color: #4b98c9;
    top: -43%;
    bottom: 0;
    left: 0;
    transition: .3s;
}
.tabs_menu li h2:hover{
    color: #333333;
    transition: .3s;
}
ul .active-tab{
    position: relative;
}
ul .active-tab:before{
    content: '';
    height: 43px;
    position: absolute;
    width: 4px;
    background-color: #4b98c9;
    top: -43%;
    bottom: 0;
    left: 0;
}
.active-tab h2{
    color: #333333 !important;
}
.tabs .content {
    display:none;
}
.tabs .content.active-tab{
    display:flex !important;
    align-items: center;
    justify-content: space-between;
    border-left: none;
}





/*----------------responsive carousel------------*/

.content-carousel{
    border-bottom: 1px solid #acd373;
    margin-right: 30px;
}
.jcarousel-wrapper {
    margin: 30px auto;
    position: relative;
    max-width: 1112px;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel .carousel-list {
    display: flex;
    align-items: center;
    width: 10000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.jcarousel .carousel-list li:hover{

}
.jcarousel .carousel-list li:last-child{
    margin-right: 0;
}
.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
    margin-top: 90px;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #efefef;
    color: #373737;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
}
.jcarousel-control-prev{
    font-size: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.jcarousel-control-prev {
    left: -25px;
}

.jcarousel-control-next {
    right: -25px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;
    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;
    margin-right: 7px;
    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}
/*.card-slider{*/
    /*position: relative;*/
/*}*/

.card-content{
    margin-right: 15px;
    border: 1px solid lightgray;
    max-width: 360px;
    width: 100%;
    cursor: pointer;
    min-height: 458px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #ffffff;
}
.title-card{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title-card span{
    font-size: 18px;
    font-weight: 300;
    color: #b7b7b7;
}
.title-card h3{
    font-size: 22px;
    font-weight: 300;
    color: #2e2e2e;
    margin-top: 15px;
}
.sale-price{
    display: flex;
    align-items: center;
}
.sale-price span{
    text-decoration: line-through;
    margin-right: 15px;
}
.title-card h4{
    font-size: 33px;
    font-weight: 700;
    color: #ef7860;
    margin-top: 30px;
    margin-bottom: 40px;
}
.banner-content-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    width: 100%;
    height: auto;
    background-color: #acd373;
    padding: 40px 30px 40px 65px;
    -webkit-box-shadow: 0px 2px 13px -1px rgba(153,134,117,1);
    -moz-box-shadow: 0px 2px 13px -1px rgba(153,134,117,1);
    box-shadow: 0px 2px 13px -1px rgba(153,134,117,1);
}
.banner-content-right h2{
    font-size: 18px;
    color: #ffffff !important;
    font-weight: 700;
    text-align: left;
    line-height: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.banner-content-right p{
    color: #ffffff;
    font-size: 18px;
}
/*.content{*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
/*}*/
.banner-list li{
    margin-bottom: 35px;
    position: relative;
}
.banner-list li:last-child{
    margin-bottom: 0;
}
.banner-list li:before{
    content: '';
    position: absolute;
    top: -12px;
    left: -57px;
    right: 0;
    bottom: 0;
    background-image: url("../../images/favorites.png");
    background-repeat: no-repeat;
    width: 47px;
    height: 45px;
}
.hit,
.new-mark,
.sale-mark{
    width: 35px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Museo Cyrl';
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    position: absolute;
    top: 16px;
    right: 16px;
}
.hit{
    background-image: url("../../images/hit.png");
}
.new-mark{
    background-image: url("../../images/new.png");
}
.sale-mark{
    background-image: url("../../images/sale.png");
}

.percent{
    width: 58px;
    height: 28px;
    border-radius: 5px;
    background-color: #f4be4e;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    position: absolute;
    top: 16px;
    left: 16px;
}
.hover-card{
    position: relative;
}
.card-content-hover{
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    display: none;
    align-items: center;
    justify-content: center;
    border: 4px solid rgba(0, 0, 0, 0.1);
    cursor: initial;
}
.card-content:hover .card-content-hover{
    display: flex;
    transition: .3s;
}
.title-card p{
    font-size: 18px;
    font-weight: 300;
    line-height: 33px;
    margin-top: 15px;
}
.title-card p:last-child{
    margin-top: 0;
}
.star{
    display: flex;
    margin-top: 20px;
}
.star li{
    font-size: 28px;
    color: #ebebeb;
    margin-right: 7px;
    cursor: pointer;
}
.star li:last-child{
    margin-right: 0;
}
.star-active{
    color: #ffc94f !important;
}
.pay{
    background-color: #f07864;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    max-width: 130px;
    width: 100%;
    padding: 18px 0;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.pay:focus{
    outline: none;
}
.pay:hover{
    background-color: #f1462a;
    transition: .3s;
}
.left-bar-content{
    position: sticky;
    top: 135px;
    left: 0;
    z-index: 1000;
    height: 100vh;
    background-color: #ffffff;
    background-image: none;
    -webkit-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.25);
    transition: .4s;
}
.left-bar-content.hidden{
    overflow: hidden;
    width: 0;
}
.left-bar-content .nav-bar-left{
    width: 362px;
    padding: 0;
}

.left-bar-content ul li{
    padding-left: 30px;
    padding-right: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.left-bar-content ul li i{
    font-size: 23px;
}
.left-bar-content ul li:first-child{
    padding-top: 35px;
}
.left-bar-content ul li:hover{
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.25);
}
.left-bar-content ul li a{
    font-size: 19px;
}
.click-menu{
    position: absolute;
    top: 50px;
    left: -72px;
    z-index: 100;
}
.wrap-test{

}
.wrapper-nav-bar {
    /*right: 0;*/
    /*position: absolute;*/
    /*top: 9.4%;*/
    /*left: -364px;*/
    display: flex;
    /*max-width: 422px;*/
    /*height: 80%;*/
}
.img-menu{
    position: absolute;
    top: 0;
    left: 260px;
    display: none;
    z-index: 150;
    overflow: hidden;
}
.img-menu.open {
    display: block;
}
.img-menu img{
    position: relative;
    height: 100vh;
}
.img-menu .close-btn{
    position: absolute;
    right: 30px;
    top: 20px;
    z-index: 10;
    font-size: 35px;
    cursor: pointer;
    transition: .2s;
}
.img-menu i:hover{
    color: #fff;
}
.circular-nav{
    max-width: 595px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}
.circular-nav ul{
    left: 35px;
    position: absolute;
    top: 29%;
}
.color-li-red{
    background-color: red;
}
.circular-nav h2{
    font-size: 46px;
    font-weight: 500;
    position: absolute;
    left: 31%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;;
    top: 20%;
}
.circular-nav h2 span{
    color: #ffffff;
}
.circular-nav ul li a{
    font-size: 19px;
}
.circular-nav ul li{
    padding: 18px 0;
}
.hidden-menu-block{
    width: 55px;
    background-color: #e8e8e8;
    position: relative;
}
.hidden-menu-block button {
    position: sticky;
    top: 50%;
}
.title-section{
    font-size: 33px;
    font-weight: 700;
    margin: 50px 0;
    padding-left: 10px;
    border-left: 4px solid #4f6790;
}
.slide-content{
    display: flex !important;
    align-items: center;
}
.slide-content img{
    width: 50%;
}
.title-carousel-slide{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 0;
    right: 0;
}
.title-carousel-slide h2{
    font-size: 50px;
    font-weight: 700;
    color: #2e2e2e;
    max-width: 500px;
    text-align: center;
}
.info-slider{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
}
.info-slider img{
    max-width: 475px;
    width: 100%;
}
.more{
    background-color: #4f6790;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    color: #ffffff;
    max-width: 170px;
    width: 100%;
    padding: 18px 0;
    border-radius: 20px;
    font-weight: 700;
    margin-top: 30px;
}
.more:hover{
    background-color: #254275;
    transition: .3s;
}
.more:focus{
    outline: none;
}
.slide-card{
    margin-bottom: 30px;
}
.slide-card h3{
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
    width: 30px;
    height: 30px;
}
.carousel-control-prev-icon i,
.carousel-control-next-icon i{
    font-size: 33px;
    color: black;
}
.carousel-control-prev,
.carousel-control-next{
    opacity: 1;
}
.carousel-control-prev{
    left: -113px !important;
}
.carousel-control-next {
    right: -60px;
}
.content-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blue-content{
    background-color: #4b98c9;
   padding-left: 49px;
    padding-right: 37px;
    padding-top: 50px;
    padding-bottom: 70px;
    -webkit-box-shadow: 0px 2px 13px -1px rgba(153,134,117,1);
    -moz-box-shadow: 0px 2px 13px -1px rgba(153,134,117,1);
    box-shadow: 0px 2px 13px -1px rgba(153,134,117,1);
}
.blue-content h2{
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    text-transform: capitalize;
}

/*-------------------------footer---------------------*/

.footer{
    background-color: #efdf86;
    width: 100%;
}
.header-footer{
    max-width: 1620px;
    width: 100%;
    margin: 0 auto;
    padding-top: 66px;
    padding-left: 95px;
    margin-bottom: 50px;

}
.header-footer h2{
    font-size: 33px;
    font-weight: 300;
    position: relative;
    padding-bottom: 15px;
}
.header-footer h2:before{
    content: '';
    position: absolute;
    bottom: 0;
    background-image: url("../../images/line.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 2px;
}
.content-footer{
    max-width: 1620px;
    margin:  0 auto;
    width: 100%;
    padding: 0 40px 35px 95px;
}
.card-footer{
    min-height: 0;
    padding: 0;
    background: transparent;
}
.footer-carousel img{
    margin-top: 0;
}
.info-footer{
    border-bottom: 2px solid black;
    padding-bottom: 56px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.change-next{
    right: -18px;
}
.footer-wrapper-carousel{
    margin-top: 0;
    margin-bottom: 50px;
}
.lists-footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.wrapper-list h2{
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 10px;
}
.wrapper-list ul li{
    padding: 20px 0;
}
.logo-footer h2{
    font-size: 43px;
    font-weight: 500;
    color: #404040;
}
.logo-footer span{
    color: #ffffff;
}
.logo-footer span:first-child{
    font-weight: 900;
}
.logo-footer p{
    font-size: 22px;
    font-weight: 500;
}
.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 10px 0;
}
.footer-bottom p{
    font-size: 19px;
}
.footer-banner{
    background-color: rgba(153, 134, 117, 0.64);
    -webkit-box-shadow: 0px 2px 13px -1px rgba(153,134,117,1);
    -moz-box-shadow: 0px 2px 13px -1px rgba(153,134,117,1);
    box-shadow: 0px 2px 13px -1px rgba(153,134,117,1);
    padding: 65px 15px;
}
.footer-banner h2{
    font-size: 22px;
    font-weight: 700;
     line-height: 30px;
    text-transform: inherit;
    margin-left: 20px;
}
.amazingcarousel-next{
    left: 50%;
    right: 0;
    bottom: -16%;
    color: #ffffff;
}
.amazingcarousel-prev{
    top: -15%;
    left: 50%;
    color: #ffffff;
}
.amazingcarousel-item{
    display: flex !important;
    align-items: center;
    margin-bottom: 30px !important;
}
.amazingcarousel-item:last-child{
    margin-bottom: 0;
}
.message{
    max-width: 150px;
    width: 100%;
    margin-left: 25px;
}
.message h3{
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 10px;
}
.message p{
    font-size: 16px;
}
.img-profile{
    border-radius: 100%;
}
.img-profile img{
    max-width: 73px;
}
.amazingcarousel-list-container{
    min-height: 313px;
}
.vertical-slider{
    margin: 60px 0;
}
.email{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 15px 10px 15px 20px;
    font-size: 14px;
}
.subscription{
    background-color: #f5f5f4;
    display: flex;
}
.btn-submit{
    background-color: #4b98c9;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn-submit:hover{
    background-color: #175983;
    transition: .3s;
}
.custom-control-label::before{
    width: 24px;
    height: 24px;
}
.custom-control-label::after{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.custom-control{
    margin-top: 20px;
    margin-bottom: 30px;
}
.custom-control-label{
    padding-left: 13px;
    font-size: 14px;
    line-height: 30px;
    font-family: 'Museo Cyrl';
    color: #ffffff;
}
.footer-social{
    display: flex;
    align-items: center;
}
.footer-social li{
    margin-right: 5px;
    background-color: #9d9275;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-social li:hover{
    background-color: #797057;
    transition: .3s;
}
.footer-social li a{
    font-size: 25px;
    color: #d3c8ac;
}
.social-list{
    margin-top: 30px;
}
.header-sticky {
    position: relative;
    z-index: 100;
    transition: .4s;
}
.header-sticky.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000000;
    background-color: #f4f4f4;
}
.fixed-header  .wrapper-nav-center{
    padding-right: 25px;
}
.header-sticky.fixed-header .logo{
    display: none;
}
.header-sticky.fixed-header .sale-none-js{
    display: flex;
}
.header-sticky.fixed-header .sale-none{
    display: none;
}

.carousel-item .more,
.carousel-item .faide-this{
    opacity: 0;
    transition: all 1s linear;
}

.carousel-item.active .more,
.carousel-item.active h2{
    opacity: 1;
}











.content-slider .carousel-inner {
    height: 100%;
}

.content-slider .carousel-item {
    padding-top: 180px;
    /*position: relative;*/
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../images/background-header.png);
}

.slide-main-img {
    width: 100%;
    max-width: 70%;
    vertical-align: middle;
    transform: translateX(60px);
}